* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #1c5e1e;
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo img {
    height: 50px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    text-decoration: underline;
}

.toggle-button {
    background: none;
    border: none;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.toggle-button:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Hero Section */
.hero {
    margin: 20px;
}

.content {
    padding: 20px;
}

.sales {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

/* Footer */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

footer .social-media-icons {
    margin-top: 10px;
}

/* Responsividade */
@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
    }

    .toggle-button {
        align-self: flex-end; /* Alinha o botão à direita */
        margin-top: 10px;
    }

    .hero-image {
        padding: 10px;
    }

    .info-sections {
        flex-direction: column;
    }

    .info-sections > div {
        flex: 1 1 100%;
    }

    .business-cards {
        flex-direction: column;
    }

    .business-card {
        flex: 1 1 100%;
    }
}