* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: white; 
    color: #3D405B;
}

/* Cabeçalho */
header {
    background-color: #070c08; 
    color: white;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header .logo img {
    height: 50px;
    margin: 10px;
    border-radius: 25px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
}

nav ul li a:hover {
    color: #E07A5F;
}

.results {
    background-color: #F4F1DE; 
    padding: 1rem 2rem;
    border: 1px solid #E07A5F;
    border-radius: 6px;
    margin: 2rem;
}

.results h2 {
    color: #E07A5F;
    margin-bottom: 1rem;
}

.results ul {
    list-style: none;
}

.results li {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

footer {
    background-color: #070c08; 
    color: white;
    text-align: center;
    padding: 20px;
}

footer .extra {
    margin: 20px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .extra img {
    width: 85px;
    margin-bottom: 2px;
}

@media only screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 10px;
        margin: 10px 0;
    }
}
