* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: white;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #a2d4c3;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2.5rem;
}

#main-nav {
    display: flex;
}

#nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
}

#nav-list li a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

#nav-list li a:hover {
    text-decoration: underline;
}

#hamburger-btn {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

@media (max-width: 768px) {
    #hamburger-btn {
        display: block;
    }

    #main-nav {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 80px;
        left: 0;
        width: 100%;
        padding: 10px;
    }

    #main-nav.active {
        display: flex;
    }

    #nav-list {
        flex-direction: column;
        gap: 10px;
    }
}

main {
    padding: 20px;
}

#welcome {
    text-align: center;
    padding: 50px 20px;
    background-color: #e7d5d5;
}

#welcome h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#welcome p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}

section[id="cakes"], section[id="sweets"], section[id="customized"] {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 20px 0;
    padding: 10px;
}

/* Imagens */
section img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    transition: transform 0.3s ease;
}

section img:hover {
    transform: scale(1.05);
}

.cta-button {
    background-color: #a2d4c3;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 1.1rem;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.cta-button:hover {
    background-color: #a2d4c3;
    transform: scale(1.05);
}

.extra {
    margin:5px auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.extra img{
    width: 85px;
    margin-bottom: 2px;
}

footer {
    background-color: #a2d4c3;
    color: white;
    text-align: center;
    padding: 20px;
}
